body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#react-root .articles-list {
    display: flex;
    justify-content: center;
}

.article-container {
    display: flex;
    width: 75%;
    height: 300px;
    /* border-bottom: solid 1px rgb(102, 101, 101); */
    justify-content: flex-start;
    margin-top: 20px;
}

.article-img {
    width: 45%;
    align-items: center;
}

.article-img>img {
    height: 80%;
    width: 60%;
    margin: 10px;
}

.article-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.navbar {
    width: 100%;
    margin: 20px;
    text-align: right;
    background-color: #afafaf;
}

.search-bar input {
    width: 35%;
}

a>.navbar-brand {
    color: rgb(56, 56, 56);
}

ul:first-child {
    margin-top: 100px
}

ul {
    padding: 5px;
    margin: 5px;
}

.article-details span {
    margin-bottom: 5px;
}

.article-details span:nth-last-child(2) {
    margin-bottom: 15px;
}

a {
    box-shadow: 0 1px 0 darkred;
    color: black;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(141, 141, 141);
}

a:active {
    box-shadow: none;
    top: 2px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}